/* Bootstrap Overrides */
body {
	padding-top: 50px;
	position: relative;
}

/* Flexi Styles */

table.damage-table {
	border: 1px solid black; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
        text-align: center;
} 
.damage-table td {
        width: 100px;
	padding: 2px;
	margin: 2px;
	border: 1px solid black;
}
.damage-table th {
	background-color: #104E8B; 
	color: #FFF;
	font-weight: bold;
}
.unharmed {background-color: #0040FF;}
.superficial {background-color: #2E9AFE;}
.light {background-color: #088A08;}
.medium {background-color: #74DF00;}
.severe {background-color: #FFFF00;}
.serious {background-color: #FFBF00;}
.deadly {background-color: #FF1919;}
.mortal {background-color: #B40404;}
.dead {background-color: #000000; color: #FFFFFF;}

table.background-table {
    	background-color: white; 
	font-family: Verdana;
	font-size: 12px;
        margin: auto;
        padding: 2px;
        text-align: left;
} 
.background-table td {
        border-bottom:1px solid black;
}
.background-table th {
        border-bottom:2px solid black;
	font-weight: bold;
}

table.full-table {
    	background-color: white; 
	font-family: Verdana;
	font-size: 12px;
        margin: auto;
        text-align: left;
        border-spacing: 10px;
}
.full-table th {
        border-bottom:2px solid black;
	font-weight: bold;
}
.full-table td {
        border-bottom:1px solid black;
}

