.data_template {
    display: none;
}


/*
 * Data Table Content layout
 *
 *
 */

.data_target.weapons {
	font-size: xx-small;	
}
.data_target.weapons tr:nth-child(even) {background-color: #eeeeee;}
